@import "tailwindcss";
@plugin "daisyui";

@font-face {
	font-family: "Roboto Bold";
	src: url("/fonts/Roboto-Bold.ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.ttf");
	font-weight: 400;
}

body {
	background-color: #020202;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Roboto";
}