---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Pytorch from "../components/techstack-icons/pytorch.astro";
import Python from "../components/techstack-icons/python.astro";
import ReactJs from "../components/techstack-icons/react.astro";
import Rust from  "../components/techstack-icons/rust.astro";
import TypeScript from  "../components/techstack-icons/typescript.astro";
import Aws from  "../components/techstack-icons/aws.astro";
import DigitalOcean from  "../components/techstack-icons/digitalocean.astro";
import Postgres from  "../components/techstack-icons/postgres.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import 'animate.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="min-h-screen flex flex-col items-center justify-center p-4">
			<div class="text-center max-w-[40%]">
				<p class="text-5xl font-semibold mb-4 animate__animated animate__fadeIn">
					Who We Are
				</p>
				<p class="text-3xl mb-12 animate__animated animate__fadeIn">
					We are <span class="font-semibold">doubleprecision.ai</span
					>, a software engineering company specialising in bespoke
					AI/ML solutions. Based right out of Singapore, we engineer
					robust systems without taking shortcuts, ensuring every
					product meets the high standards we set for ourselves.
				</p>
				<p class="text-5xl font-semibold mb-4 animate__animated animate__fadeIn">
					Our Tech Stack
				</p>
				<div class="flex flex-wrap justify-center gap-4 animate__animated animate__fadeIn">
					<TypeScript />
					<Python />
					<Pytorch />
					<ReactJs />
					<Rust />
					<Postgres />
					<Aws />
					<DigitalOcean />
				</div>
			</div>
		</div>
		<Footer />
	</body>
</html>
