---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import 'animate.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="hero min-h-screen">
			<div class="hero-overlay" id="landing-bg"></div>
			<div class="hero-content text-neutral-content text-center">
				<div>
					<h1 class="mb-5 text-[5em]/20 font-bold animate__animated animate__fadeInUp">Architecting Intelligence. Transforming Business.</h1>
					<p class="mb-5 text-[2em] text-gray-400 animate__animated animate__fadeInUp">
						Gain your edge with AI/ML built on rigorous engineering, not shortcuts.
					</p>
					<button class="btn btn-neutral text-semibold pt-3 pb-3 pl-10 pr-10 text-lg border-primary bg-transparent hover:bg-primary animate__animated animate__fadeInUp">Get in Touch</button>
				</div>
			</div>
		</div>
		<Footer />
	</body>
</html>
<script>
	import WebGLFluidEnhanced from "webgl-fluid-enhanced";
	const container = document.getElementById("landing-bg");

	if (container) {
		const simulation = new WebGLFluidEnhanced(container);

		simulation.setConfig({
			colorPalette: [
				"#7400B8",
				"#6930C3",
				"#5E60CE",
				"#5390D9",
				"#4EA8DE",
				"#48BFE3",
				"#56CFE1",
				"#64DFDF",
				"#72EFDD",
				"#80FFDB",
			],
			backgroundColor: "#020202",
			densityDissipation: 3,
			colorUpdateSpeed: 5,
			hover: true,
			brightness: 0.3,
			velocityDissipation: 0.3,
			bloom: false,
		});
		
		simulation.start();
		simulation.multipleSplats(50);
		window.addEventListener("beforeunload", () => {
			simulation.stop();
		});
	}
</script>
