---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { icon } from "@fortawesome/fontawesome-svg-core" 
import { faBars } from '@fortawesome/free-solid-svg-icons';
import "@fortawesome/fontawesome-svg-core/styles.css";

const faBarsIcon = icon(faBars).html;
---

<header class="fixed min-w-full z-10">
	<nav class="navbar justify-between bg-transparent backdrop-blur-sm">
		<!-- Logo -->
		<a class="btn btn-ghost text-2xl font-extrabold" href="/">
			{SITE_TITLE} 
		</a>
	
		<!-- Menu for mobile -->
		<div class="dropdown dropdown-end sm:hidden">
			<button class="btn btn-ghost">
				<i set:html={faBarsIcon}></i>
			</button>
	
			<ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
				<li><HeaderLink href="/about">About</HeaderLink></li>
				<!-- <li><HeaderLink href="/blog">Blog</HeaderLink></li> -->
				<!-- <li><HeaderLink href="/contact">Contact</HeaderLink></li> -->
			</ul>
		</div>
	
		<!-- Menu for desktop -->
		<ul class="hidden menu sm:menu-horizontal gap-2">
			<li><HeaderLink href="/about">About</HeaderLink></li>
			<!-- <li><HeaderLink href="/blog">Blog</HeaderLink></li> -->
			<!-- <li><HeaderLink href="/contact">Contact</HeaderLink></li> -->
		</ul>
	</nav>
</header>
